In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
def find_courses_masters(text):
    if not text:
        print('Error during course finding: Empty search query')
        return []

    courses_info = []

    text = text.replace(' ', '%20')
    base_url = "https://www.edureka.co/"
    search_url = f"{base_url}search/{text}"

    try:
        response = requests.get(search_url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')

            courses = soup.find_all('div', class_='courseinfo')

            for course in courses:
                course_name = course.find('h3').text.strip()
                rating = course.find('span', class_='rating').text.strip()

#                 # working here

#                 learners_tag = course.find('span', class_='stats')
#                 learners = learners_tag.find('span').text.strip() if learners_tag else 'N/A'

#                 #working on learners

#                 total_reviews_tag = course.find('span', class_='totalreviews')
#                 total_reviews = total_reviews_tag.text.strip('()') if total_reviews_tag else 'N/A'
                if(rating == ''):
                    rating = 0
                courses_info.append([course_name, float(rating), "Edureka"])

            print(f'Found {len(courses_info)} courses')
        else:
            print(f'Error: Unable to access {search_url}. Status code: {response.status_code}')

    except Exception as e:
        print(f'Error: {str(e)}')

    return courses_info

In [5]:
text = input('Enter the course name: ')
courses_masters_edureka = find_courses_masters(text)

df = pd.DataFrame([i for i in courses_masters_edureka], columns=['Title','Rating','source'])
df.head()

Enter the course name: web development
Found 62 courses

                                           Title  Rating   source
0  Full Stack Web Development Internship Program     4.4  Edureka
1           Web Developer Masters Course Program     0.0  Edureka
2             HTML Certification Training Course     4.1  Edureka
3                        SQL Essentials Training     4.3  Edureka
4    Web Developer Certification Training Course     4.4  Edureka

In [14]:
def find_courses_udemy(text):
    if not text:
        print('Error during course finding: Empty search query')
        return []
    
    q=text.replace(" ","+")

    courses_info = []
    base_url = "https://www.udemy.com/courses/search/?src=ukw&q="
    search_url = f"{base_url}{q}"
    print(search_url)
    
    try:
        response = requests.get(search_url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            print(soup)
            
            courses = soup.find_all('div', class_='popper-module--popper--2BpLn')
            print(courses)
            
            for course in courses:
                course_name = course.find('h3').text.strip()
                print(course_name)
                courses_info.append([course_name])
                
            print(f'Found {len(courses_info)} courses')
        else:
            print(f'Error: Unable to access {search_url}. Status code: {response.status_code}')

    except Exception as e:
        print(f'Error: {str(e)}')

    return courses_info

In [19]:
def find_courses_coursera(text):
    if not text:
        return []
    courses_info = []
    text.replace(' ', '%20')
    base_url = "https://www.coursera.org/"
    search_url = f"{base_url}search/?query={text}"
    try:
        response = requests.get(search_url) # add logging here 
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')

            courses = soup.find_all('div', class_='cds-ProductCard-content')
            
            for course in courses:
                course_name = course.find('h3', class_='cds-119 cds-CommonCard-title css-e7lgfl cds-121').text.strip()
                rating = course.find('p' , class_='cds-119 css-11uuo4b cds-121').text.strip()
                # reviews = course.find('p' , class_='cds-119 css-dmxkm1 cds-121').text.strip()                
                courses_info.append([course_name , rating , "coursera"])
        else:
            print("Error")
    except Exception as e:
        print(f'Error: {str(e)}')   

    return courses_info

In [33]:
text = input('Enter the course name: ')
courses_masters_edureka = find_courses_masters(text)
df = pd.DataFrame([i for i in courses_masters_edureka], columns=['Title','Rating','source'])

courses_coursera = find_courses_coursera(text)
df2 = pd.DataFrame([i for i in courses_coursera],columns=['Title','Rating','source'])
df2 = df2.drop_duplicates()
print(df)
print(df2)

Enter the course name: data science
Found 62 courses
Error: 'NoneType' object has no attribute 'text'
                                                Title  Rating   source
0               Data Science Training Masters Program     0.0  Edureka
1       Data Science with Python Certification Course     4.5  Edureka
2   Data Science and Machine Learning Internship P...     4.3  Edureka
3   Data Science with R Programming Certification ...     4.1  Edureka
4                   Computer Science Bootcamp Program     0.0  Edureka
..                                                ...     ...      ...
57          Comprehensive Hive Certification Training     4.2  Edureka
58     Mastering Apache Ambari Certification Training     4.2  Edureka
59           Comprehensive Pig Certification Training     4.5  Edureka
60         Comprehensive HBase Certification Training     4.1  Edureka
61            Data Warehousing Certification Training     4.4  Edureka

[62 rows x 3 columns]
                                               Title Rating    source
0                                   IBM Data Science    4.6  coursera
1          Python for Data Science, AI & Development    4.6  coursera
2                              What is Data Science?    4.7  coursera
3                                       Data Science    4.5  coursera
4                              Google Data Analytics    4.8  coursera
5                   Applied Data Science with Python    4.5  coursera
6                       Introduction to Data Science    4.6  coursera
7                        Foundations of Data Science    4.7  coursera
8                                   IBM Data Analyst    4.6  coursera
9  Mathematics for Machine Learning and Data Science    4.6  coursera

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
vectorizer = TfidfVectorizer()
ls = vectorizer.fit_transform(df2['Title'])
q = vectorizer.transform([text])
cosines = cosine_similarity(q,ls).flatten()
df2['Score'] = [i for i in cosines]
df2 = df2[df2['Score'] > 0.35]
df2['Rating'] = df2['Rating'].astype(float)
df2

,Title,Rating,source,Score
0,IBM Data Science,4.6,coursera,0.491758
1,"Python for Data Science, AI & Development",4.6,coursera,0.292671
2,What is Data Science?,4.7,coursera,0.370869
3,Data Science,4.5,coursera,1.000000
5,Applied Data Science with Python,4.5,coursera,0.324914
6,Introduction to Data Science,4.6,coursera,0.370869
7,Foundations of Data Science,4.7,coursera,0.370869
9,Mathematics for Machine Learning and Data Science,4.6,coursera,0.252033

In [64]:
lss = vectorizer.fit_transform(df['Title'])
qq = vectorizer.transform([text])
cosines1 = cosine_similarity(qq,lss).flatten()
df['Score'] = [i for i in cosines1]
df = df[df['Score'] > 0.35].drop_duplicates().reset_index(drop=True)
df = df[df['Rating'] > 0]
df

,Title,Rating,source,Score
0,Data Science with Python Certification Course,4.5,Edureka,0.535467
1,Data Science with R Programming Certification ...,4.1,Edureka,0.472702

In [61]:
final_df = pd.concat([df,df2],axis=0).reset_index(drop=True).sort_values(by=['Rating'],ascending=False)
final_df

,Title,Rating,source,Score
8,What is Data Science?,4.7,coursera,0.370869
12,Foundations of Data Science,4.7,coursera,0.370869
6,IBM Data Science,4.6,coursera,0.491758
7,"Python for Data Science, AI & Development",4.6,coursera,0.292671
11,Introduction to Data Science,4.6,coursera,0.370869
13,Mathematics for Machine Learning and Data Science,4.6,coursera,0.252033
0,Data Science with Python Certification Course,4.5,Edureka,0.430911
3,Data Science with Python Certification Course,4.5,Edureka,0.430911
9,Data Science,4.5,coursera,1.000000
10,Applied Data Science with Python,4.5,coursera,0.324914
1,Data Science and Machine Learning Internship P...,4.3,Edureka,0.323910
4,Data Science and Machine Learning Internship P...,4.3,Edureka,0.323910
2,Data Science with R Programming Certification ...,4.1,Edureka,0.375512
5,Data Science with R Programming Certification ...,4.1,Edureka,0.375512

In [49]:
e_count = df.shape[0]
c_count = df2.shape[0]